H1{
    text-align: center;
}


P{
    margin:0.25in;
    text-align:center
    border: 0.25in solid black;
    padding: 0.25in;
   background:URL(images/wood.png);
}
BODY{
    background:URL(images/brick.jpg);
}
.banner{   
     background:url(images/bond.jpg)repeat-x;
    font-size:50pt;
    font-family:Arial Rounded MT Bold
}